	<a href="#!/addCliente" class="btn btn-primary pull-right nodecoration"><b>+</b> Add Cliente</a>

	<div class="form-group">
	      <div class="input-group spacing">
	        <div class="input-group-addon"><i class="fa fa-search"></i></div>
	        <input type="text" class="form-control" placeholder="Nome do Cliente" ng-model="searchName">
	      </div>      
	</div>

	
<!-- 	<spinner name="clientesSpinner" img-src="images/ring-alt.gif" ></spinner> -->
	
	<table class="table clienteTable">
	    <thead>
	        <tr>
	            <th>Codigo</th>
	            <th>Nome</th>
	            <th class="text-center">Action</th>
	        </tr>
	    </thead>
	    <tr ng-repeat="cliente in clientes | filter:searchName">
	        <td>{{cliente.idCliente}}</td>
	        <td>{{cliente.nome}}</td>
	        <td class="text-center">
	            <a class="btn btn-primary " ng-href="#!/editCliente/{{cliente.idCliente}}">Edit</a>
	            <button role="button" class="btn btn-danger" ng-click="confirmDelete(cliente.idCliente)">Delete</button>
	        </td>
	    </tr>
	</table>

