/target
target/classes/br/com/springboot/app/controller/ClienteController.class
*.class
target/classes/br/com/springboot/app/controller/ClienteController.class
target/classes/br/com/springboot/app/domain/Cliente.class
*.properties
target/classes/br/com/springboot/app/controller/ClienteController.class
